flask==3.1.2
flask-pydantic==0.13.2
black==25.1.0
psycopg[binary]==3.2.10
greenlet==3.2.4
sqlalchemy==2.0.43
alembic==1.16.5
pytest-postgresql==7.0.2
pyyaml==6.0.2
pytest==8.4.2
isort==6.0.1
trino==0.336.0
ldap3==2.9.1
click==8.2.1
requests==2.32.5
responses==0.25.8
mkdocs==1.6.1
mkdocs-material==9.6.20
autoflake==2.3.1
pyuwsgi==2.0.30
jsonpath-ng==1.7.0
pyjwt==2.10.1
cryptography==46.0.1
